/* CSS declarations go here */

html {
    font-family: Verdana, Arial;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.clickable {
    text-align: center;
    margin: 10px;
    border: 1px black solid;
    font-size: 50px;
    cursor: pointer;
    float: left;
    width: calc(100% - 20px);
}

.clickable:hover {
    border-color: blue;
}

.compare {
    float: left;
    margin-bottom: 50px;
    width: 100%;
}

.column {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 49%;
    display: inline-block;
}

.column:first-child {
    margin-right: 1%;
}

.column:last-child {
    margin-left: 1%;
}

.pic {
    text-align: center;
}

.pic img {
    width: auto;
    max-width: 90%;
    height: 250px;
}

.tweet {
    padding: 5px;
}

.submit {
    padding: 10px;
}

.tweet span {
    text-align: center;
    display: block;
    width: 100%;
}

.tweet span:first-child {
    font-size: 8px;
}

.tweet span:last-child {
    margin-bottom: 5px;
}

.close {
    cursor: pointer;
    float: left;
}