/* CSS declarations go here */

h2 {
    text-align: center;
}

.clickable {
    text-align: center;
    margin: 10px;
    border: 1px black solid;
    font-size: 50px;
    cursor: pointer;
    float: left;
    width: calc(100% - 20px);
}

.clickable:hover {
    border-color: blue;
}

.compare {
    float: left;
    margin-bottom: 50px;
    width: 100%;
}

.column {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 49%;
    display: inline-block;
    border: 1px black solid;
}

.column:first-child {
    margin-right: 1%;
}

.column:last-child {
    margin-left: 1%;
}

.pic {
    text-align: center;
}

.pic img {
    width: 95%;
    height: 300px;
}

.chatroom {
    height: 350px;
    overflow: scroll;
}

.tweet {
    padding: 5px;
}

.submit {
    padding: 10px;
}

.submit input:first-child {
    width: 75%;
}