h2 {
	font-size: 20px;
	text-align: center;
}

div {
	box-sizing: border-box;
}

#rivalry-list, #active-rivalry {
	float: left;
	padding: 0px;
	width: calc(50% - 12px);
	display: inline-block;
	border: 1px white solid;
	margin: 5px;
	height: calc(100vh - 20px);
	overflow-y: auto;
	overflow-x: hidden;
}

.rivalry-item {
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 1px black solid;
    font-size: 25px;
    cursor: pointer;
    float: left;
    width: calc(100% - 20px);
}

.rivalry-item > span {
	font-size: 15px;
}


/* woot https://github.com/IanLunn/Hover */
@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
